* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px;
}

header h1 {
    color: teal;
    padding-left: 10px;
    font-size: x-large;

}

header p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
    padding-right: 10px;
    font-size: x-large;
}

.box-wrapper {
    margin: 100px 150px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
}

.box-wrapper h2 {
    font-weight: bolder;
}

.box-wrapper p {
    padding: 10px 0px;
    text-align: center;
}

.choices-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
}

.answerMessage {
    display: flex;
    flex-wrap: wrap;
}


.finish {
    margin: 100px 150px;
    align-items: center;
    display: block;
    padding-left: 250px;
    padding-right: 250px;
}

.highscorePanel {
    margin: 100px 150px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 250px;
    padding-right: 250px;
}

button {
background-color: rgb(129, 67, 129);
padding: 10px;
border-radius: 10px;
color: white;
cursor: pointer;
}

.scoreButton {
    display: flex;
    flex-wrap: wrap;
}

.nameScore {
    display: block;
}

.scoreItem {
    margin-top: 8px;
    margin-bottom: 8px;
}

.hiddenButton {
    display: none;
}



@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header p {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .box-wrapper {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    .box-wrapper h2 {
        margin-top: 10px;
        width: 100%;
        flex: 0 70%;
    }

    .finish {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    .finish h2 {
        margin-top: 10px;
        width: 100%;
        flex: 0 70%;
    }

}