* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

header h1 {
    color: teal;
    font-size: medium;
    padding-left: 10px;

}

header p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: right;
    padding-right: 10px;
}

.quiz-intro {
    margin: 100px 150px;
    align-items: center;
    padding: 50px 550px;
    display: flex;
    flex-wrap: wrap;
}

.quiz-intro h2 {
    font-weight: bolder;
}

.quiz-intro p {
    padding: 10px 0px;
}

.questions {
    margin: 100px 150px;
    align-items: center;
    padding: 50px 550px;
    display: flex;
    flex-wrap: wrap;
}

.questions button {
   display: block;
   padding: 5px;
} 

.finish {
    margin: 100px 150px;
    align-items: center;
    padding: 50px 550px;
    display: block;
}


   




